In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('./dados.csv')

In [4]:
data.head()

                                           Perguntas           Tags
0  Possuo um projeto Node.js porém preciso criar ...        node.js
1  Gostaria de fazer testes unitários no Node.js,...        node.js
2  Como inverter a ordem com que o jQuery itera u...         jquery
3  Eu tenho uma página onde pretendo utilizar um ...           html
4  Como exibir os dados retornados do FireStore e...  html angular

In [6]:
len(data.Tags.unique())

37

In [14]:
labels = []
for tags in data.Tags.unique():
    for tag in tags.split(' '):
        if tag not in labels and tag != '':
            labels.append(tag)

In [15]:
labels

['node.js', 'jquery', 'html', 'angular']

In [16]:
node_js = list()
for linha_tag in data.Tags:
    if 'node.js' in linha_tag:
        node_js.append(1)
    else:
        node_js.append(0)

jquery = list()
for linha_tag in data.Tags:
    if 'jquery' in linha_tag:
        jquery.append(1)
    else:
        jquery.append(0)

html = list()
for linha_tag in data.Tags:
    if 'html' in linha_tag:
        html.append(1)
    else:
        html.append(0)

angular = list()
for linha_tag in data.Tags:
    if 'angular' in linha_tag:
        angular.append(1)
    else:
        angular.append(0)

In [17]:
binary_labels = []
for i in labels:
    list_label = []
    for linha_tag in data.Tags:
        if i in linha_tag:
            list_label.append(1)
        else:
            list_label.append(0)
    binary_labels.append(list_label)

In [20]:
pd.DataFrame(dict(zip(labels, binary_labels)))

      node.js  jquery  html  angular
0           1       0     0        0
1           1       0     0        0
2           0       1     0        0
3           0       0     1        0
4           0       0     1        1
...       ...     ...   ...      ...
5403        0       1     1        0
5404        0       0     1        0
5405        0       1     1        0
5406        0       0     1        0
5407        0       1     1        0

[5408 rows x 4 columns]